<p>Hello,</p>
<br>
<p>
  <%= @user.full_name %> has sent a Viewing Form for <%= @form.program_title %>. Click <%= link_to "here", viewing_form_url(@form), target: "_blank" %> to view it.
</p>
<br>
<p>Best Regards,</p>
<p>Alaraby Admin Team</p>

<%= image_tag(attachments['logo.png'].url, width: 50, height: 60) %>
