<div id="Footer">
  <h5>Viewing Form Application v0.2 - Alaraby TV Network</h5>
  <p>Developed by Saddam Zourob and Przemyslaw Markowski, Software Development Unit, March 2021.</p>
  <h5>Help & Support:</h5>
  <p>Duty Broadcast Engineer, direct mobile +44 (0)7917 077 529, internal call 4001 <br/>
     Duty IT Engineer, direct mobile +44 (0)7917 068 243, internal call 4002<br/>
     Email: <a style="color: white;" href="mailto:sdu@alaraby.tv?Subject=Viewing%20Form%20Application" target="_top">Software Development Unit</a>
  </p>
</div>