<div id="Header">
  <%= image_tag "logo.png", alt: "alaraby_logo", id: "atn_logo" %>
  <!-- <img id="atn_logo" src="images\logo.png" /> -->
  <h2 style="font-family: arial; color:white; text-align:center">Alaraby Viewing Form Application</h2>
</div>