<div id="BtnsDiv">
  <div class="row justify-content-md-center">
    <h3>Hello, please select one option below</h3> 
  </div>
  <div class="row">
    <div class="col">
      <%= link_to 'Viewing Form', new_viewing_form_path, class: 'btn btn-info btn-lg btn-block' %>
    </div>
    <div class="col">
      <%= link_to 'Music Cue', "#", class: 'btn btn-info btn-lg btn-block' %>
    </div>
  </div>
</div>
