<div id="BtnsDiv">
  <div class="row justify-content-center">
    <h1>Welcome!</h1> 
  </div>
  <div class="row">
    <div class="col">
      <%= link_to viewing_forms_path, class: 'btn btn-info btn-lg btn-block' do %>
        <i class="bi bi-layout-text-window"></i>
        Viewing Forms
      <% end %>
    </div>
    <div class="col">
      <%= link_to "#", class: 'btn btn-info btn-lg btn-block', data: { toggle: 'tooltip' } do %>
        <i class="bi bi-music-note-list"></i>
        Music Cues
      <% end %>
    </div>
  </div>
</div>
