<div id="Header">
    <!-- <img id="atn_logo" src="images\logo.png" /> -->
    <h2 style="font-family: arial; color:white; text-align:center">Alaraby Viewing Form Application</h2>
  </div>
  <div id="MainContent">

    <div id="ChooseProg_Div">

      <div class="row">
        <div class="column">
          <h3 id="Program_Field_Title"> Choose a Program:</h3>
        </div>
        <div class="column">
          <select name="sources" class="custom-select sources" placeholder="Select a Programme" id="ProgramTitleOption">
        </select>
        </div>
      </div>

      <!--  <input id="AmountField" type="text" pattern="^(£?\d+(?:\.?\d+)?)(p)?$" title="Input must match one of the following: 432, 213p, £16.23p, £14, £54.04, £23.33333, or 001.41p" /> -->
      <div id="errorMsgDiv">
        <h2 id="errorMsg"><p>Error: Check the inputs of th efollowing fields: <br /></p></h2>
      </div>

      <!-- <button id="GoBtn" class="button">Go!</button> -->
    </div>

    <div id="ViewingForm">
      <div id="ViewingFormTitle">
        <!-- <img id="Prog_logo" src="Images/Alaraby_Alyoum_Bug.png" /> -->

        <h3>ALARABY ALYOUM Viewing Form</h3>
      </div>

      <div class="row">
        <div class="column">
          <div class="row-in">
            <label class="col-30">Name</label>
            <input type="text" class="col-70" placeholder="Enter your name" id="senderName">
          </div>
          <div class="row-in">
            <label class="col-30">Email address</label>
            <input type="email" class="col-70" placeholder="Enter email" id="senderEmail">
          </div>
          <div class="row-in">
            <label class="col-30">Programme Title</label>
            <input type="text" class="col-70" placeholder="Programme Title" id="ProgTitle" disabled="disabled" value="ALARABY ALYOUM">
          </div>
          <div class="row-in">
            <label class="col-30">Ingest Date</label>
            <input type="date" class="col-70" id="IngestDate">
          </div>
          <div class="row-in">
            <label class="col-30">Aspect Ratio</label>
            <select class="col-70" id="AspectRatio">
              <option value="16x9">16:9</option>
              <option value="4x3">4:3</option>
            </select>
          </div>


        </div>
        <div class="column">
          <div class="row-in">
            <label class="col-30">Date</label>
            <input type="date" class="col-70" placeholder="Date" id="TodayDate">
          </div>
          <div class="row-in">
            <label class="col-30">Contact No</label>
            <input type="number" class="col-70" placeholder="Enter your mobile" id="ContactNo">
          </div>
          <div class="row-in">
            <label class="col-30">Programme ID</label>
            <input type="text" class="col-70" placeholder="Enter Programme ID" id="ProgID">
          </div>
          <div class="row-in">
            <label class="col-30">TX Date</label>
            <input type="date" class="col-70" placeholder="TX Date" id="TXDate">
          </div>
          <div class="row-in">
            <label class="col-30">Number of Parts</label>
            <select class="col-70" id="NoOfParts">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
        </div>
      </div>

      <!--
      Parts Info
      -->
      <div class="Titled-row" id="Row1">
        <div id="RowTitle">
          <h3>Part: 1</h3>
        </div>
        <div class="row">

          <div class="column">

            <div class="row-in">
              <label class="col-30">IN</label>
              <input type="text" class="col-70 calc" placeholder="HH:MM:SS:FF" value="00:00:00:00" id="Row1IN" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
            </div>
            <div class="row-in">
              <label class="col-30">OUT</label>
              <input type="text" class="col-70 calc" placeholder="HH:MM:SS:FF" id="Row1OUT" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
            </div>
            <div class="row-in">
              <label class="col-30">DUR</label>
              <input type="text" class="col-70" placeholder="HH:MM:SS:FF" id="Row1DUR" disabled="disabled" pattern="([0-9][0-9]):([0-5][0-9]):([0-5][0-9]):([0-2][0-4])">
            </div>

          </div>
          <div class="column">
            <div class="comments-row">
              <label>Notes</label>
              <textarea rows="4" cols="50" id="Row1Notes"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="editor"></div>
    <div id="BtnsDiv">
      <div class="row">
        <div class="column">
          <button id="sendForm" class="button">Send Form</button>
        </div>
        <!-- <div class="column">
          <button id="SavePDFBtn" class="button">Save PDF</button>
        </div> -->
        <div class="column">
          <button id="PrintFormBtn" class="button">Print Form</button>
        </div>
      </div>
    </div>
  </div>
  <div id="Footer">

    <h5>Viewing Form v0.2 - Alaraby TV Network</h5>
    <p>Developed by Saddam Zourob and Przemyslaw Markowski, Engineering Support Unit, March 2021.</p>

    <h5>Help & Support:</h5>
    <p>Duty Broadcast Engineer, direct mobile +44 (0)7917 077 529, internal call 4001 <br/>
       Duty IT Engineer, direct mobile +44 (0)7917 068 243, internal call 4002<br/>
       Email: <a style="color: white;" href="mailto:sdu@alaraby.tv?Subject=Viewing%20Form%20Application" target="_top">Software Development Unit</a>

    </p>
    <!--<img id="atn_logo" src="images\logo.png" /> -->
  </div>